button[data-appearance=positive] {
  color: #fff;
  background: #2ab553;

  &:hover {
    background: #21a65a;
  }

  tui-loader ::ng-deep {
    circle {
      stroke: #fff;
    }
  }
}

.doc {
  max-width: 75rem;
  margin: 0 auto;
  text-align: left;

  &__stepper {
    margin-bottom: 2rem;
    font-size: 1.1rem;

    &-body {
      max-block-size: 36rem;
    }
  }

  &__footer {
    position: relative;
    margin-top: 4rem;

    &-submit {
      display: flex;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    & > {
      button + button {
        margin-left: 1rem;
      }
    }
  }
}

.text {
  font-size: 1.05rem;
  line-height: 2;
  font-weight: 500;
  color: var(--tui-text-primary) !important;
}

.file-content {
  display: flex;
  block-size: 10rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.file-panel {
  justify-content: center;
}

.d-none {
  display: none !important;
}

table {
  table-layout: fixed;
  width: 100%;
}

td {
}

tui-textarea {
  overflow: hidden;
  max-height: initial;
  min-height: 100%;

  & > .t-outline {
    flex: 1;
  }

  .t-wrapper {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  ::ng-deep tui-scrollbar {
    max-height: initial !important;
  }
}
